@model IEnumerable<Arquivo>

@{
    ViewBag.Title = "Excluindo todos os arquivos...";
}

<div class="form-horizontal" style="text-align: center;">
    <div style="display:inline-block">

        <div class="form-group" style="margin: 50px;">
            <h1>@ViewBag.Title</h1>
            <h4>Atualmente, existem @Model.Count() arquivos de treinamento.</h4>
            <h4>Tem certeza que deseja excluir <strong>todos</strong> os arquivos?</h4>
        </div>

        <div class="form-group" style="margin: 50px;">
            <img src="~/Images/warning.png" style="width:200px; height:200px;" />
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="">
                    
                    <input type="submit" value="Confirmar exclusão" class="btn btn-danger" />
                    @Html.ActionLink("Voltar à lista", "Index", "Arquivos", null, new { @class = "btn btn-default" })
                </div>
            </div>
        }

    </div>
</div>