@model Arquivo

<div class="col-md-12">
    <div class="card">
        <div class=".jqplot-meterGauge-label">
            <h4 class="title">Classificação da Qualidade</h4>
            <p class="category">É obtida através do treinamento realizado com o algoritmo NaiveBayes.</p>
        </div>
        <div class="content">
            <div class="ResultadoClassificacao">
                @Model.Classificacao
            </div>
        </div>
    </div>
</div>